@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bgOrange: #e84949;
}

#wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

/************************* navbar section   *************************/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.logo-container {
    display: flex;
    justify-content: baseline;
    /* align-items: end; */
    align-items: center;
}

.logo {
    width: 80px;
}

.logo-text {
    font-size: 2rem;
    margin-left: -0.2rem;
}

.nav-items {
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

.nav-items div {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-items div a {
    color: black;
}

.nav-items div:hover {
    font-weight: 800;
    transition: 0.8s;
}

a {
    text-decoration: none;
}

/********************* Hire Me Button *********************/
.btn-pink {
    background-color: var(--bgOrange);
    width: fit-content;
    padding: 0.8rem 2.3rem;
    color: white;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    border: solid 3px transparent;
    z-index: 1;
    position: relative;
    /* transition: all 0.5s; */
}

.btn-pink::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
    z-index: -1;
}

.btn-pink:hover::before {
    transform: scaleX(1);
}

.btn-pink:hover {
    /* border: solid 3px var(--bgOrange); */
    color: black;
}

/********************* intro section *********************/
.intro {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.intro-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.intro-heading {
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.intro-sub-heading {
    font-size: 45px;
    line-height: 45px;
}

.intro-desc {
    width: 70%;
    margin-top: 1rem;
    font-weight: 500;
}

.role {
    color: #4e45d5;
    font-weight: 800;
}

.intro-right {
    position: relative;
}

.absolute {
    position: absolute;
}

.icon-dots {
    z-index: 9;
    bottom: -1rem;
    right: 0;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: dotsAnimation 5s infinite;
}

@keyframes dotsAnimation {
    50% {
        transform: translateY(-15px);
    }
}

.icon-cube {
    z-index: 9;
    top: -0.8em;
    right: 1em;
    animation: cubeAnimation 3s infinite;
}

@keyframes cubeAnimation {
    0% {
        transform: rotateY(0deg) translateY(0px);
    }
    50% {
        transform: rotateY(180deg) translateY(-12px);
    }
    100% {
        transform: rotateY(360deg) translateY(0px);
    }
}

.icon-circle {
    z-index: 9;
    left: 0;
    bottom: 0;
    animation: circleAnimation 6s linear infinite;
}

@keyframes circleAnimation {
    50% {
        left: 5%;
        bottom: 10%;
    }
}

.icon-plus {
    z-index: 9;
    left: 50%;
    top: -0.8rem;
    animation: plusAnimation 5s ease-in infinite;
}

@keyframes plusAnimation {
    50% {
        top: 3%;
        left: 48%;
    }
}

.icon-zigzags {
    z-index: 9;
    top: 1.5em;
    left: -0.3em;
    animation: zigzagAnimation 5s ease-in infinite;
}

@keyframes zigzagAnimation {
    50% {
        left: 5%;
        top: 2%;
    }
}

.user-image {
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}

.user-image img {
    width: 19rem;
    z-index: -9;
}

@keyframes scaleImage {
    0% {
        filter: grayscale(0);
        transform: scale(1);
    }

    50% {
        filter: grayscale(1);
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
    }

    100% {
        filter: grayscale(0);
        transform: scale(1);
    }
}

.faded-text {
    position: absolute;
    user-select: none;
    font-size: 7rem;
    color: rgb(231, 231, 231);

    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
}

.hire-me-right {
    display: none;
}

/* ********************** project section ********************** */
#projects {
    background-color: rgb(231, 231, 231);
    margin-top: 4rem;
}

.page-header {
    color: var(--bgOrange);
    text-align: center;
    font-size: 90px;
    padding-top: 30px;
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 120px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 3rem 0;
}

.project-card {
    width: 90%;
    height: 500px;
    box-shadow: 0 0 40px #1f1f1f;
    position: relative;
    background-size: cover;
}

.project-card::after {
    content: "";
    position: absolute;
    background-color: #1f1f1f9a;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    /* transform: scaleX(1); */
}

.project-card::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.project-card:hover::before {
    transform: scaleX(1);
}

.project-number {
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    z-index: 5;
    /* opacity: 0; */
    display: none;
}

.project-card:hover .project-number {
    /* opacity: 1; */
    display: block;
}

.project-number-right {
    top: -45px;
    right: -40px;
}

.project-number-left {
    top: -45px;
    left: -40px;
}

.project-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
}

.project-content-left {
    left: 10%;
}

.project-content-right {
    right: 10%;
    /*  margin-left: 120px; */
}

.project-skill-conainer {
    display: flex;
    width: 60%;
    gap: 10px;
    flex-wrap: wrap;
}

.project-skill {
    width: 40px;
}

.project-heading {
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-subHeading {
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

.btn-grp {
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.icon {
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: all 0.4s;
}

.icon:hover {
    color: var(--bgOrange);
}

.btn-project {
    border: none;
}

.project-card:hover .project-content {
    transform: scale(1.1);
}

#project1 {
    background-image: url("../image/projects/Project1.png");
}

#project2 {
    margin-left: 120px;
    background-image: url("../image/projects/Project2.png");
}

#project3 {
    background-image: url("../image/projects/Project3.png");
}

#project4 {
    margin-left: 120px;
    background-image: url("../image/projects/Project4.png");
}

/* *********************** skills section *********************** */
.skills-container {
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
}

.skill-container-left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skill-heading {
    font-size: 50px;
    font-style: bold;
    color: var(--bgOrange);
    line-height: 50px;
}

.caps {
    font-size: 90px;
}

.skill-subHeading {
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}

.skill-subHeading p {
    margin: 15px 0;
}

.skill-container-right {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 50%;
    gap: 2rem;
    justify-content: center;
}

.blob-style {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -5;
    transform: translate(-50%, -50%);
    animation: blobAnimate 3s linear infinite;
}

@keyframes blobAnimate {
    50% {
        top: 54%;
        left: 46%;
    }
}

.skills-logo {
    width: 80px;
    transition: all 0.5s;
}

.skills-logo:hover {
    transform: scale(1.2);
}

.skill-faded-text {
    position: absolute;
    font-size: 15em;
    font-style: bold;
    color: rgb(231, 231, 231);
    bottom: -34.5%;
    right: -25%;
    user-select: none;
    overflow-y: hidden;
}

/* ******************** contact me section ******************** */
.contactme-container {
    width: 100%;
    background-color: rgb(231, 231, 231);
}

.contactme-heading {
    font-size: 4em;
    color: var(--bgOrange);
    padding-top: 2rem;
}

.contactme-sub-heading {
    font-size: 2.5rem;
    color: #343d68aa;
    text-transform: capitalize;
}

.contactme-form-container {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
}

.formfield-container {
    width: 100%;
}

.formfield {
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 500;
    border: none;
    margin-top: 27px;
}

.formfield-textarea {
    height: auto;
    padding-top: 1rem;
}

#submit-btn {
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
    transition: all 0.5s;
}

#submit-btn:hover {
    scale: 0.9;
}

.submit-icon {
    padding: 0 1rem;
    font-size: 1.5rem;
}

/* ******************* footer section ******************* */
footer {
    background-color: #343d68;
    position: relative;
    margin-top: -1px;
    padding: 3rem;
    padding-bottom: 6rem;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem 5rem;
}

.link-wrapper {
    display: flex;
    gap: 1.2rem;
}

.link-wrapper div a {
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}

.link-wrapper div a:hover {
    color: var(--bgOrange);
    font-weight: 800;
}

.icon-wrapper {
    display: flex;
    gap: 1rem;
}

.footer-faded-text {
    position: absolute;
    left: 0;
    bottom: 0.2rem;
    color: #535c87;
    user-select: none;
    font-size: 5em;
}

/* Media query : for smaller screen*/
@media (max-width: 1200px) {
    /* Media query : navbar section */
    .nav-items {
        flex-direction: column;
        gap: 0.5rem;
        align-items: end;
    }

    /* Media query : intro section */
    .container {
        width: 500px;
    }

    .intro {
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 0;
        padding-bottom: 3rem;
    }

    .intro-left {
        gap: 1rem;
    }
    .intro-heading {
        text-align: center;
    }

    .intro-sub-heading {
        font-size: 35px;
    }

    .intro-desc {
        text-align: center;
        width: 100%;
    }

    .intro-right {
        scale: 0.8;
    }

    .faded-text {
        display: none;
    }

    .hire-me-left {
        display: none;
    }

    .hire-me-right {
        display: block;
    }

    /* Media query : project section */
    #projects {
        margin-top: 0;
    }
    .page-header {
        padding-top: 30px;
        font-size: 40px;
    }

    .project-container {
        padding: 5px;
        margin: 10px;
        gap: 60px;
    }

    .project-card {
        width: 100%;
        height: 300px;
        background-position: center;
    }

    .project-content {
        scale: 0.5;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .project-content-left {
        left: 0;
    }

    .project-content-right {
        right: 0;
    }

    #project2,
    #project4 {
        margin-left: 0;
    }

    .project-heading {
        font-size: 40px;
        width: 100%;
    }

    .project-subHeading {
        width: 100%;
    }

    .project-skill-container {
        width: 100%;
    }

    .project-skill {
        width: 35px;
    }

    .project-card:hover .project-number {
        display: none;
    }

    .project-card:hover .project-content {
        scale: 0.55;
    }

    /* Media query : skill section */
    .skills-container {
        flex-direction: column;
        padding: 1rem 1rem;
        margin: 3rem auto;
    }

    .skill-container-left {
        width: 100%;
    }

    .skill-container-right {
        width: 100%;
    }

    .skill-heading {
        font-size: 40px;
    }

    .caps {
        font-size: 60px;
    }

    .skills-logo {
        width: 40px;
    }

    .blob-style {
        scale: 0.75;
    }

    .skill-faded-text {
        display: none;
    }

    /* Media Query : Contact Me section */

    .contactme-heading {
        font-size: 2.5em;
        text-align: center;
        padding-top: 1rem;
    }

    .contactme-sub-heading {
        font-size: 1.2rem;
        text-align: center;
        padding-top: 1rem;
    }

    .contactme-form-container {
        margin-top: 0;
    }

    .form {
        width: 100%;
        margin: 0;
    }

    #submit-btn {
        scale: 0.8;
        margin-top: 0;
    }

    #submit-btn:hover {
        scale: 0.7;
    }

    .submit-btn-container {
        margin: auto;
        width: 60%;
    }

    /* Media Query : footer section */
    footer {
        padding: 1rem;
    }

    .footer-wrapper {
        flex-direction: column;
        gap: 1rem;
        padding: 0.5rem;
    }

    .footer-faded-text {
        display: none;
    }
}
